<footer class="bg-orange-500 border-t border-orange-700">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 py-6 flex flex-col md:flex-row items-center justify-between gap-4">

    <div class="text-blue-100 text-sm">
      <p class="font-semibold mb-1">Contact Us</p>
      <address class="not-italic">
        Charity Org: 1215208<br />
        Phone: <a href="tel:+44 7814 383406" class="underline hover:text-blue-300 transition">+44 7814 383406</a>
      </address>
    </div>

    <nav>
      <ul class="flex space-x-4 text-blue-200 text-xs">
        <li><a href="/privacy" class="hover:text-blue-300 font-normal transition-colors duration-150">Privacy Policy</a></li>
        <li><a href="/terms" class="hover:text-blue-300 font-normal transition-colors duration-150">Terms of Use</a></li>
        <li><a href="/contact" class="hover:text-blue-300 font-normal transition-colors duration-150">Contact</a></li>
      </ul>
    </nav>

    <div>
      <ul class="flex space-x-5 text-blue-200">
        <li>
          <a href="https://www.facebook.com/p/Fozia-Riaz-100091279092571/" id="facebook-link" aria-label="Facebook" class="hover:text-blue-300 transition-colors duration-200" title="Facebook">
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M22 12a10 10 0 1 0-11.5 9.9v-7h-2v-3h2v-2c0-2 1-3 3-3h2v3h-1c-1 0-1 .5-1 1v2h3l-1 3h-2v7A10 10 0 0 0 22 12z"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" id="twitter-link" aria-label="Twitter" class="hover:text-blue-300 transition-colors duration-200" title="Twitter">
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53A4.48 4.48 0 0 0 22.4 1a9 9 0 0 1-2.82 1.08 4.48 4.48 0 0 0-7.64 4.09 12.7 12.7 0 0 1-9.24-4.69 4.48 4.48 0 0 0 1.39 6 4.48 4.48 0 0 1-2-.56v.06a4.48 4.48 0 0 0 3.6 4.4 4.48 4.48 0 0 1-2 .07 4.48 4.48 0 0 0 4.18 3.11A9 9 0 0 1 1 19.54a12.6 12.6 0 0 0 6.88 2"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/happy_homes_fozia/" id="instagram-link" aria-label="Instagram" class="hover:text-blue-300 transition-colors duration-200" title="Instagram">
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M7 2C4.8 2 3 3.8 3 6v12c0 2.2 1.8 4 4 4h10c2.2 0 4-1.8 4-4V6c0-2.2-1.8-4-4-4H7zm0 2h10c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H7c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2zm5 3a4 4 0 1 0 0 8 4 4 0 0 0 0-8zm0 2a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm3.5-3.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/happy-homes-community/posts/" id="linkedin-link" aria-label="LinkedIn" class="hover:text-blue-300 transition-colors duration-200" title="LinkedIn">
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M4.98 3.5C4.98 4.88 3.9 6 2.48 6 1.06 6 0 4.88 0 3.5S1.06 1 2.48 1C3.9 1 4.98 2.12 4.98 3.5zM.22 8h4.52v13H.22V8zM9.34 8h4.32v1.88h.06c.6-1.13 2.08-2.33 4.28-2.33 4.58 0 5.43 3.02 5.43 6.95V21h-4.53v-5.83c0-1.4-.03-3.2-1.96-3.2-1.96 0-2.26 1.53-2.26 3.1V21H9.34V8z"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>

  </div>
</footer>
